#compat_box {
  width: 89px;
  height: 89px;
  position: absolute;
  margin-top: -46px;
  right: 0;
  z-index: 3000;
}

#chart-percent {
  position: absolute;
  right:    8px;
  top:      -23px;
  z-index:  3003;
  width:    56px;
  height:   56px;
  color:    #128bd3;
  font-size: 38px;
}

#chart-center {
  position: absolute;
  top:      -28px;
  right:    15px;
  z-index:  3001;
  width:    56px;
  height:   56px;
  background: #fff;
  border-radius: 50%;
}
