// Tags
.tags {
  .tag {
    margin-top: 5px;
    border-radius: 2px;
    padding: 4px 8px;
    text-transform: uppercase;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}