#
#         _    _                    _    _         _
#        | |  | |                  | |  | |       | |
#        | |__| | _   _  _ __ ___  | |__| | _   _ | |__
#        |  __  || | | || '_ ` _ \ |  __  || | | || '_ \
#        | |  | || |_| || | | | | || |  | || |_| || |_) |
#        |_|  |_| \__,_||_| |_| |_||_|  |_| \__,_||_.__/
#
#                        CONFIGURATION
#
#
#  WARNING: This file may contain sensitive information. Ensure it is not accessible
#  via the webserver to avoid exposing sensitive data. Check that the file permissions
#  are set securely to prevent unauthorized access.
#
#  NOTE: To enable a setting, remove the '#' prefix at the start of the line.
#  Lines starting with the '#--' prefix are setting descriptions and should not be removed.
#
#  For more configuration options visit: https://docs.humhub.org/docs/admin/config-options
#
#

#--- Pretty URLs (Recommended)
#HUMHUB_CONFIG__COMPONENTS__URL_MANAGER__SHOW_SCRIPT_NAME=false
#HUMHUB_CONFIG__COMPONENTS__URL_MANAGER__ENABLE_PRETTY_URL=true

#--- Debug Mode
#HUMHUB_DEBUG=true

#--- Additional Module Paths
#HUMHUB_CONFIG__PARAMS__MODULE_AUTOLOAD_PATHS=["/opt/humhub-modules"]

#--- Redis
#HUMHUB_CONFIG__COMPONENTS__REDIS__CLASS="yii\redis\Connection"
#HUMHUB_CONFIG__COMPONENTS__REDIS__HOSTNAME="localhost"
#HUMHUB_CONFIG__COMPONENTS__REDIS__PORT=6379
#HUMHUB_CONFIG__COMPONENTS__REDIS__DATABASE=0
#HUMHUB_CONFIG__COMPONENTS__SESSION__CLASS="yii\redis\Session"

#--- Database (Overwrite)
#HUMHUB_CONFIG__COMPONENTS__DB__DSN="mysql:host=localhost;dbname=humhub"
#HUMHUB_CONFIG__COMPONENTS__DB__USERNAME="humhub"
#HUMHUB_CONFIG__COMPONENTS__DB__PASSWORD="secret"

#--- Mailer (Overwrite)
#HUMHUB_CONFIG__COMPONENTS__MAILER__DSN="smtp://localhost:25"

#--- Various Settings
#HUMHUB_CONFIG__HOME_URL="/s/welcome-space/"
#HUMHUB_CONFIG__MODULES__USER__MINIMUM_USERNAME_LENGTH=2
#HUMHUB_CONFIG__MODULES__ADMIN__ALLOW_USER_IMPERSONATE=false
#HUMHUB_CONFIG__MODULES__DASHBOARD__AUTO_INCLUDE_PROFILE_POSTS="all"
#HUMHUB_CONFIG__MODULES__DASHBOARD__HIDE_ACTIVITY_SIDEBAR_WIDGET=true
