# Warning: This file may contain sensitive information. Make sure that this file is not
# distributed via the web server and does not have file permissions that are too open.

HUMHUB_DEBUG=1
HUMHUB_PARAMS.MODULE_AUTOLOAD_PATHS=
