assets/*
!assets/.gitignore

protected/runtime/*
!protected/runtime/.gitignore

protected/config/local/*
!protected/config/local/.gitignore

uploads/files/*
!uploads/files/.gitignore
!uploads/files/.htaccess

uploads/profile_image/*
!uploads/profile_image/banner
!uploads/profile_image/.gitignore

uploads/profile_image/banner/*
!uploads/profile_image/banner/.gitignore

.htaccess
nbproject
.idea/*
.gitmodules
/composer.lock

themes/*
!themes/HumHub

favicon.ico
/.settings
/.buildpath
/.project
