[submodule "themes/TheBlackSheepHubTheme"]
	path = themes/TheBlackSheepHubTheme
	url = https://github.com/StruxureIO/TheBlackSheepHubTheme.git
[submodule "protected/modules/stepstone_vendors"]
	path = protected/modules/stepstone_vendors
	url = https://github.com/StruxureIO/stepstone_vendors.git
