// Activities
.activities {
  max-height: 400px;
  overflow: auto;
  li .media {
    position: relative;
  }
  li .media .img-space {
    position: absolute;
    top: 14px;
    left: 14px;
  }

  li .media .media-body {
    max-width:295px;
  }
}