.files,
#postFormFiles_list {
    padding-left: 0;
}

// File upload list for posts
.contentForm-upload-list {
    padding-left: 0;
    li:first-child {
        margin-top: 10px;
    }
}

.file_upload_remove_link,
.file_upload_remove_link:hover {
    color: @danger;
    cursor: pointer;
}

.file-preview-item {
    text-overflow: ellipsis;
    overflow:hidden;
}

.post-files {
    margin-top: 10px;
    img {
        vertical-align: top;
        margin-bottom: 3px;
        margin-right: 5px;
        max-height: 130px;
        -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
        animation-duration: 2s;
    }
}

#wallStream.mobile {
    .post-files {
        margin-top: 10px;
        display: flex;
        overflow-x: auto;
        img {
            max-width: 190px;
        }
    }
}

// fileupload button
.comment_create,
.content_edit {
    position: relative;

    .comment-buttons {
        position: absolute;
        top: 2px;
        right: 5px;
    }

    .btn-comment-submit {
        margin-top: 3px;
    }

    .fileinput-button {
        float: left;
        padding: 6px 10px;
        background: transparent !important;
        .fa {
            color: @background3;
        }
    }
    .fileinput-button:hover .fa {
        background: transparent !important;
        color: @background4;
    }
    .fileinput-button:active {
        box-shadow: none !important;
    }
}


.file-preview-content {
    cursor: pointer;
}

//
// Profile image upload
//
.image-upload-container {
  position: relative;
  .image-upload-buttons {
    display: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  input[type="file"] {
    position: absolute;

    //background-color: red;
    opacity: 0;
  }
  .image-upload-loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #f8f8f8;
  }
}


// Mime-Types
.mime {
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 1px 0 4px 26px;
}

.mime-word {
    background-image: url("../img/mime/word.png");
}

.mime-excel {
    background-image: url("../img/mime/excel.png");
}

.mime-powerpoint {
    background-image: url("../img/mime/powerpoint.png");
}

.mime-pdf {
    background-image: url("../img/mime/pdf.png");
}

.mime-zip {
    background-image: url("../img/mime/zip.png");
}

.mime-image {
    background-image: url("../img/mime/image.png");
}

.mime-file {
    background-image: url("../img/mime/file.png");
}

.mime-photoshop {
    background-image: url("../img/mime/photoshop.png");
}

.mime-illustrator {
    background-image: url("../img/mime/illustrator.png");
}

.mime-video {
    background-image: url("../img/mime/video.png");
}

.mime-audio {
    background-image: url("../img/mime/audio.png");
}