// If the custom controls have loaded, pull them up on wider viewports
// This relies on JS enabling the custom-controls class in px-video.js
.custom-controls .transcript-link
	@media only screen and (min-width 620px)
		margin-top -44px

.transcript-single
	border-bottom 2px solid black-thirty

.transcript-single.hidden
	display none

.session--watch
	margin-bottom HalfLineHeight

	.button
		background black-sixty
		margin-top QuarterLineHeight

		&:hover, &:active, &:focus
			background black-seventy
			
// utilities
.sr-only
	position absolute !important
	clip rect(1px, 1px, 1px, 1px)
	padding 0 !important
	border 0 !important
	height 1px !important
	width 1px !important
	overflow hidden

.hide
	display none

.show-inline
	display inline-block

// video
.px-video-container
	overflow hidden // ensure height of video doesn't overlap elements below
	min-width 300px // so video controls don't fall in on themselves in narrow browsers

.px-video-img-captions-container
	position relative
	padding-bottom 56.25% // 16:9
	height 0

.px-video
	position absolute
	top 0
	left 0
	margin-top 0
	width 100%
	height 100%

// containers
.px-video-img-captions-container *
	box-sizing border-box

.px-video-img-captions-container
	position relative

.px-video-wrapper
	position relative
	padding-bottom 56.25% // 16:9
	height 0
	z-index 1

.px-video
	position absolute
	top 0
	left 0
	width 100%
	height 100%

.px-progress-bar
	width 85%

	@media only screen and (min-width: 480px)
		width 89%

	@media only screen and (min-width: 970px)
		width 95%

	@media only screen and (min-width: 1795px)
		width 97.5%

.px-video-controls
	margin-bottom 10px // a little space below the player
	margin-top 10px // put some spacing between video and controls to stop mis-tapping/clicking

	&:after // clear floats so controls don't get hidden by objects below
		display block;
		font-size 0
		content " "
		clear both
		height 0
		visibility hidden

// progress indicator
.px-video-progress
	display block
	width 100%
	margin-bottom 10px
	height 10px

.px-video-progress[value]
	// Reset the default appearance
	-webkit-appearance none
	border none

.px-video-progress[value]::-webkit-px-progress-bar
	background-color #E6E6E6

.px-video-progress[value]::-webkit-progress-value
	background-color #009CDF

// time
.px-video-time
	font-family "Helvetica Neue",Helvetica,Arial,sans-serif
	float right
	line-height 30px
	margin-top -30px // bring time up alongside progress timeline
	font-size 14px

// caption area
.px-video-captions
	box-sizing border-box
	position absolute
	top 1px // stop captions background showing above image
	left 0
	width 100%
	padding .5em
	min-height 2.5em
	background-color #000
	color #fff
	font-size 1.1em
	text-align center
	opacity 0.75
	z-index 2

// buttons
.px-video-playback-buttons
	float left
	line-height 20px
	min-width 145px // accommodate width of buttons

	@media only screen and (min-width: 620px)
	// centre the playback buttons when the viewport is wider
		float none
		left 50%
		margin-left -120px // half width of button container + width of repeat button, so play button is central
		min-width 200px
		position absolute
		width 200px // accommodate width of new, wider buttons


.px-video-controls button
	border 1px transparent solid
	background transparent
	padding 0
	margin 0 5px
	width 25px
	height 25px
	overflow hidden
	background no-repeat url('../images/px-video-sprite.svg')

	@media only screen and (min-width: 620px)
		background-size 150%
		width 40px
		height 40px

// use with Modernizr to provide a no-svg class on <html> to support browsers that don't support SVG
.no-svg .px-video-controls button
	background no-repeat url('../images/px-video-sprite.png')

.px-video-controls button:focus
	border 1px #999 dotted
	outline none

.px-video-controls button
	cursor pointer

// restart button
.px-video-controls button.px-video-restart
	background-position -9px -331px

	&:hover, &:focus
		background-position -9px -295px

	@media only screen and (min-width: 620px)
		background-position -9px -523px

	@media only screen and (min-width: 620px)
		&:hover, &:focus
			background-position -9px -466px

// rewind button
.px-video-controls button.px-video-rewind
	background-position -9px -187px

	&:hover, &:focus
		background-position -9px -151px

	@media only screen and (min-width: 620px)
		background-position -9px -295px

		&:hover, &:focus
			background-position -9px -238px


// play button
.px-video-controls button.px-video-play
	background-position -8px -43px

	&:hover, &:focus
		background-position -8px -7px

	@media only screen and (min-width: 620px)
		background-position -8px -67px

		&:hover, &:focus
			background-position -8px -10px


// pause button
.px-video-controls button.px-video-pause
	background-position -9px -115px

	&:hover, &:focus
		background-position -9px -79px

	@media only screen and (min-width: 620px)
		background-position -9px -182px

	@media only screen and (min-width: 620px)
		&:hover, &:focus
			background-position -9px -124px


// forward button
.px-video-controls button.px-video-forward
	background-position -10px -259px

	&:hover, &:focus
		background-position -10px -223px

	@media only screen and (min-width: 620px)
		background-position -10px -409px

		&:hover, &:focus
			background-position -10px -352px
			
.px-video-fullscreen-btn-container
	float left
	width 25px
	
	label
		display inline-block
		width 25px
		height 20px
		margin-top 3px
		margin-left 1px
		background no-repeat url('../images/px-video-sprite.svg')
		background-position -6px -943px

		@media only screen and (min-width: 540px)
			margin-top 5px // line up with big buttons

	.no-svg &
		// use with Modernizr to provide a no-svg class on <html> to support browsers that don't support SVG
		background no-repeat url('../images/px-video-sprite.png')

.px-video-fullscreen-btn-container input[type="checkbox"]:focus+label
	outline 1px #999 dotted
	background-position -6px -907px

.px-video-fullscreen-btn-container input[type="checkbox"]:hover+label
	background-position -6px -907px
	cursor pointer

.px-video-fullscreen-btn-container input[type="checkbox"]:focus+label
	outline 1px #999 dotted
	background-position -6px -907px

.px-video-fullscreen-btn-container input[type="checkbox"]:checked+label
	background-position -6px -979px

.px-video-fullscreen-btn-container input[type="checkbox"]:checked:hover+label
	background-position -6px -1015px



// captions button
.px-video-captions-btn-container
	float left

	@media only screen and (min-width: 540px)
		clear none
		margin-top 1px // line up with buttons
		margin-left 10px // space between volume slider and captions button

	label
		display inline-block
		width 25px
		height 20px
		margin-top 3px // line up with big buttons
		background no-repeat url('../images/px-video-sprite.svg')
		background-position -6px -835px

		@media only screen and (min-width: 540px)
			margin-top 4px // line up with big buttons

		.no-svg &
			// use with Modernizr to provide a no-svg class on <html> to support browsers that don't support SVG
			background no-repeat url('../images/px-video-sprite.png')


.px-video-captions-btn-container
	input[type="checkbox"]:focus+label
		outline 1px #999 dotted
		background-position -6px -799px

	input[type="checkbox"]:hover+label
		background-position -6px -799px
		cursor: pointer

	input[type="checkbox"]:focus+label
		outline 1px #999 dotted
		background-position -6px -799px

	input[type="checkbox"]:checked+label
		background-position -6px -871px


// mute button
.px-video-volume-controls
	float right
	overflow hidden
	min-width 133px // width of mute button and width of volume slider

	@media only screen and (min-width: 540px)
		margin-top: 1px

.px-video-mute-btn-container
	float left
	width 26px // width of mute button

	label
		display inline-block
		width 25px
		height 20px
		margin-top 3px // line up with big buttons
		background no-repeat url('../images/px-video-sprite.svg')
		background-position -6px -476px

		@media only screen and (min-width: 540px)
			margin-top 6px // line up with big buttons

		.no-svg &
			// use with Modernizr to provide a no-svg class on <html> to support browsers that don't support SVG
			background no-repeat url('../images/px-video-sprite.png')

.px-video-mute-btn-container
	input[type="checkbox"]:focus+label
		outline 1px #999 dotted
		background-position -6px -440px

	input[type="checkbox"]:hover+label
		background-position -6px -440px
		cursor pointer

	input[type="checkbox"]:focus+label
		outline 1px #999 dotted
		background-position -6px -440px

	// checked state of mute button
	input[type="checkbox"]:checked+label
		background-position -6px -692px

	input[type="checkbox"]:checked:hover+label,
	input[type="checkbox"]:checked:focus+label
		background-position -6px -656px


// volume range input 
.px-video-volume-slider
	float left
	width 80px // width of volume slider
	
	@media only screen and (min-width: 540px)
		width 95px // width of volume slider

.px-video-controls
	input[type='range']
		-webkit-appearance none
		height 6px
		width 70px
		margin-top 9px
		margin-right 0
		margin-left 5px
		background-color #E6E6E6
		outline none

		@media only screen and (min-width: 540px)
			margin-top 12px
			width 85px

	input[type='range']:focus::-webkit-slider-thumb
		outline 1px #999 dotted

	input[type='range']::-moz-range-track
		-moz-appearance none
		height 6px
		background-color #E6E6E6
		border none

	input[type='range']::-webkit-slider-thumb
		-webkit-appearance none !important
		height 10px
		width 6px
		background-color #666

	input[type='range']::-moz-range-thumb
		background-color #666
		border none
		height 12px
		width 8px

	// fixing display for IE10+
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
		input[type='range']
			position relative
			padding 0
			height 8px
			top -3px
		.px-video-time
			margin-top 4px
		.px-video-captions
			padding 8px
			min-height 36px
			
// 	FLEXBOX-ONLY CSS.
//	This will only work with the including modernizr.js script, which applies the 
//	.flexbox.flexwrap classes to the body element
	
.flexbox.flexwrap 
	.px-video-controls
		display flex // enables flex for all its children
		flex-direction row // arrange buttons/inputs in rows, not columns
		flex-wrap wrap // run rows from left-to-right, wrap overflowing items to next row
		justify-content space-between // stick buttons/inputs to left/right edges with excess space distributed between
		align-items center // horizontally centre rows inside container
		align-content center // horizontally centre all content inside container when there are multiple rows
	
	.px-progress-bar
		flex-grow 1 // flex to fill rest of available space
		width 75%

		@media only screen and (min-width: 480px)
			width 75%
			
		@media only screen and (min-width: 590px)
			width 85%

		@media only screen and (min-width: 970px)
			width 85%

		@media only screen and (min-width: 1795px)
			width 85%
	
	.px-video-progress
		margin-top 10px
		width 100%
		
	.px-video-time
		flex-grow 0 // don't grow
		flex-shrink 0 // don't shrink
		padding-left 10px // space between time and progress bar
		margin-top 0
		
	.px-video-playback-buttons
		flex-grow 1 // flex to fill rest of available space
		min-width auto

		@media only screen and (min-width: 620px)
			left auto
			margin-left auto
			min-width auto
			position relative
			width auto
			display flex // enables flex for all its children
			flex-direction row // arrange buttons/inputs in rows, not columns
			flex-wrap no-wrap // don't let these items wrap
			justify-content center // stick buttons/inputs to left/right edges with excess space distributed between
			align-items center // horizontally centre rows inside container
			align-content center // horizontally centre all content inside container when there are multiple rows
			padding-left 96px
			
	.has-captions .px-video-playback-buttons
		@media only screen and (min-width: 620px)
			padding-left 130px
			
	.px-video-controls button
		margin 0 5px
				
	// mute button
	.px-video-volume-controls
		min-width auto

		@media only screen and (min-width: 540px)
			margin-top 0