//
// Well
// --------------------------------------------------
.well-small {
  padding: 10px;
  border-radius: 3px;
}

.well {
  border: none;
  box-shadow: none;
  background-color: @background-color-page;
  margin-bottom: 1px;
  hr {
    margin: 15px 0 10px;
    border-top: 1px solid darken(@background-color-page, 8%);
  }
  table > thead {
    font-size: 11px;
  }
}