.onoffswitch-inner:before {
    background-color: #72dce8;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    background-color: #d7d7d7;
    color: #999999;
    text-align: right;
}

.regular-checkbox:checked + .regular-checkbox-box {
    border: 2px solid #72dce8;
    background: #72dce8;
    color: white;
}


.regular-radio:checked + .regular-radio-button:after {
    background: #72dce8;
}

.regular-radio:checked + .regular-radio-button {
    background-color: none;
    color: #99a1a7;
    border: 2px solid #d7d7d7;
    margin-right: 5px;
}
