//
// Color variables
// --------------------------------------------------

// Background colors
@colorBackground1: #f7f7f7;
@colorBackground2: #ededed;
@colorBackground3: #d7d7d7;
@colorBackground4: #b2b2b2;

// Bootstrap colors
@colorDanger: #ff8989;
@colorInfo: #6fdbe8;
@colorInfo2: #61c2d0;
@colorSuccess: #97d271;
@colorInfoLight: #dffcff;
@colorWarning: #fdd198;
@colorPrimary: #708fa0;

// Font colors
@colorFont1: #bac2c7;
@colorFont2: #7a7a7a;
@colorFont3: #555555;
@colorFont4: #bebebe;
@colorFont5: #aeaeae;

//
// x) General
// --------------------------------------------------

body {
  background-color: @colorBackground2;
  color: #777777;
  font-family: 'Open Sans', sans-serif;

  a, a:hover, a:focus, a:active, a.active {
    color: @colorFont3;
    text-decoration: none;
  }

}

h4 {
  font-weight: 300;
  //color: @colorFont4;
  font-size: 150%;
}

// Mixins
.heading {
  font-size: 16px;
  font-weight: 300;
  color: @colorFont3;
  background-color: white;
  border: none;
  padding: 10px;
}

.text-center {
  text-align: center !important;
}

input[type=text], input[type=password], input[type=select] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//
// x) Login
// --------------------------------------------------
.login-container {
  background: @colorPrimary;
}

#account-login-form {
  .form-group {
    margin-bottom: 10px;
  }
}

//
// x) Topbar
// --------------------------------------------------

.topbar {
  .dropdown-header {
    font-weight: 300;
    color: @colorFont4;

    .dropdown-header-link a {
      color: @colorInfo !important;
    }
  }
}

#topbar-first {
  background-color: @colorPrimary;
  color: white;

  a {
    color: white;
  }

  .caret {
    border-top-color: @colorFont4;
  }

  .btn-group > a {
    background-color: lighten(@colorPrimary, 5%);
  }

  .btn-enter {
    background-color: lighten(@colorPrimary, 5%);
    margin: 6px 0;
  }

  .btn-enter:hover {
    background-color: lighten(@colorPrimary, 8%);
  }

  .media-list {

    a {
      color: @colorFont3;
    }

    li {

      color: @colorFont3;

      i.accepted {
        color: @colorInfo !important;
      }

      i.declined {
        color: @colorDanger !important;
      }
    }

    li.placeholder {
      border-bottom: none;
    }

    .media .media-body {
      .label {
        padding: .1em .5em .1em;
      }
    }
  }

  .account .user-title {
    text-align: right;

    span {
      color: @colorBackground3;
    }
  }

  .dropdown.account > a, .dropdown.account.open > a, .dropdown.account > a:hover, .dropdown.account.open > a:hover {
    background-color: @colorPrimary;
  }

}

#topbar-second {
  background-color: #ffffff;
  background-image: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #d4d4d4;

  .nav > li > a {
    padding: 6px 13px 0px 13px;
    text-decoration: none;
    text-shadow: none;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    min-height: 49px;

    &:hover,
    &:active,
    &:focus {
      border-bottom: 3px solid @colorInfo;
      background-color: @colorBackground1;
      color: @colorFont3;
      text-decoration: none;
    }

    i {
      font-size: 14px;
    }

    .caret {
      border-top-color: @colorFont2;
    }
  }

  .nav > li.active > a {
    min-height: 46px;
  }

  .nav > li > a#space-menu {
    padding-right: 13px;
    border-right: 1px solid #ededed;
  }

  .nav > li > a#search-menu {
    padding-top: 15px;
  }

  .nav > li > a:hover, .nav .open > a, .nav > li.active {
    border-bottom: 3px solid @colorInfo;
    background-color: @colorBackground1;
    color: @colorFont3;
  }

  .nav > li.active > a:hover {
    border-bottom: none;
  }

  #space-menu-dropdown li > ul > li > a > .media .media-body p {
    color: @colorFont4;
    font-size: 11px;
    margin: 0;
    font-weight: 400;
  }
}

//
// x) Media-Object
// --------------------------------------------------
.media-list {

  li {
    border-bottom: 1px solid #eee;
    border-left: 3px solid white;
    font-size: 12px;

    a {
      color: @colorFont3;
    }
  }

  li:last-child {
    border-bottom: none;
  }

  li.new {
    border-left: 3px solid @colorInfoLight;
    background-color: @colorInfoLight;
  }

  li:hover, li.selected {
    background-color: @colorBackground1;
    border-left: 3px solid @colorInfo;
  }

}

.media {

  .time {
    font-size: 11px;
    color: @colorFont4;
  }

  .media-body {

    font-size: 13px;

    h4.media-heading {

      font-size: 14px;
      font-weight: 500;
      color: @colorFont3;
      a {
        color: @colorFont3;

      }

      small, small a {
        font-size: 11px;
        color: @colorFont4;
      }
    }

    h5 {
      color: @colorFont5;
      font-weight: 300;
      margin-top: 5px;
      margin-bottom: 5px;
      min-height: 15px;
    }

    .module-controls {
      font-size: 85%;

      a {
        color: @colorInfo;
      }
    }
  }

  .content {
    //color: @colorFont1;

    a {
      color: @colorInfo;
    }

  }

  .content .files a {
    color: @colorFont3;
  }
}

// Modules
.module-installed {
  opacity: 0.5;

  .label-success {
    background-color: @colorBackground3;
  }
}

//
// x) Dropdowns
// --------------------------------------------------
.modal, .panel, .nav-tabs {

  .dropdown-menu {
    border: 1px solid @colorBackground3;

    li.divider {
      background-color: @colorBackground1;
      border-bottom: none;
      margin: 9px 1px !important;
    }

    li {
      border-left: 3px solid white;

      a {
        color: @colorFont3;
        font-size: 14px;
        font-weight: 400;
        padding: 4px 15px;

        i {
          margin-right: 5px;
        }
      }

      a:hover {
        background: none;
      }
    }

    li:hover, li.selected {
      border-left: 3px solid @colorInfo;
      background-color: @colorBackground1 !important;
    }
  }
}

//
// x) Panels
// --------------------------------------------------

.panel {
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 3px #dadada;
  -webkit-box-shadow: 0 0 3px #dadada;
  -moz-box-shadow: 0 0 3px #dadada;
  border-radius: 4px;
  position: relative;

  h1 {
    font-size: 16px;
    font-weight: 300;
    margin-top: 0px;
    color: @colorFont3;
  }

  .panel-heading {
    .heading;
    border-radius: 4px;
  }

  .panel-body {
    padding: 10px;
    font-size: 13px;

    p {
      color: @colorFont3;
    }

  }

  .statistics {
    .entry {
      margin-left: 20px;
      font-size: 12px;

      .count {
        color: @colorInfo;
        font-weight: 600;
        font-size: 20px;
        line-height: 0.8em;
      }
    }
  }

  h3.media-heading {

    small {
      font-size: 75%;
    }
    small a {
      color: @colorInfo;

    }
  }

}

.panel-danger {
  border: 2px solid @colorDanger;

  .panel-heading {
    color: @colorDanger;
  }
}

.panel-success {
  border: 2px solid @colorInfo;

  .panel-heading {
    color: @colorInfo;
  }
}

.panel-warning {
  border: 2px solid @colorWarning;

  .panel-heading {
    color: @colorWarning;
  }
}

// Panels - Installer
.installer {

  h2 {
    font-weight: 100;
  }

  .panel {
    margin-top: 50px;

    h3 {
      margin-top: 0px;
    }
  }

  .powered, .powered a {
    color: @colorFont1 !important;
    margin-top: 10px;
    font-size: 12px;
  }

  .fa {
    width: 18px;
  }

  .check-ok {
    color: @colorSuccess;
  }

  .check-warning {
    color: @colorWarning
  }

  .check-error {
    color: @colorDanger;
  }

  .prerequisites-list {
    ul {
      list-style: none;
      padding-left: 15px;

      li {
        padding-bottom: 5px;
      }
    }
  }

}

//
// Well
// --------------------------------------------------
.well-small {
  padding: 10px;
  border-radius: 3px;
}

.well {
  border: none;
  box-shadow: none;
  background-color: @colorBackground2;
  margin-bottom: 1px;

  hr {
    margin: 15px 0 10px 0;
    border-top: 1px solid darken(@colorBackground2, 8%);
  }

  table > thead {
    font-size: 11px;
  }
}

//
// x) Thumbnails
// --------------------------------------------------
.img-rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

//
// x) Navs
// --------------------------------------------------

.nav-pills, .nav-tabs, .account {

  .dropdown-menu {
    background-color: @colorPrimary;
    border: none;

    li.divider {
      background-color: darken(@colorPrimary, 5%);
      border-bottom: none;
      margin: 9px 1px !important;
    }

    li {
      border-left: 3px solid @colorPrimary;

      a {
        color: white;
        font-weight: 400;
        font-size: 13px;
        padding: 4px 15px;

        i {
          margin-right: 5px;
          font-size: 14px;
          display: inline-block;
          width: 14px;
        }
      }

      a:hover, a:visited, a:hover, a:focus {
        background: none;
      }
    }

    li:hover, li.selected {
      border-left: 3px solid @colorInfo;
      color: #ffffff !important;
      background-color: darken(@colorPrimary, 5%) !important;
    }

  }
}

.nav-pills.preferences {

  .dropdown .dropdown-toggle {
    color: @colorFont4;
  }

  .dropdown.open {

    .dropdown-toggle, .dropdown-toggle:hover {
      background-color: @colorPrimary;
    }
  }

}

.popover {

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  .popover-title {
    background: none;
    border-bottom: none;
    color: #555555;
    font-weight: 300;
    font-size: 16px;
    padding: 15px;
  }

  .popover-content {
    font-size: 13px;
    padding: 5px 15px;
    color: @colorFont3;

    a {
      color: @colorInfo;
    }
  }

  .popover-navigation {
    padding: 15px;
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: @colorPrimary;
}

// Nav-Tabs

.nav-tabs {

  li {
    font-weight: 600;
    font-size: 12px;
  }

}

.tab-content .tab-pane {

  a {
    color: @colorInfo;
  }

  .form-group {
    margin-bottom: 5px;
  }
}

.nav-tabs.tabs-center {
  li {
    float: none;
    display: inline-block;
  }
}

.nav-tabs.tabs-small {
  li > a {
    padding: 5px 7px;
  }
}

.nav .caret, .nav .caret:hover, .nav .caret:active {
  border-top-color: @colorFont3;
  border-bottom-color: @colorFont3;
}

.nav li.dropdown > a:hover .caret, .nav li.dropdown > a:active .caret {
  border-top-color: @colorFont3;
  border-bottom-color: @colorFont3;
}

.nav .open > a .caret, .nav .open > a:hover .caret, .nav .open > a:focus .caret {
  border-top-color: @colorFont3;
  border-bottom-color: @colorFont3;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-color: #ededed;
  color: @colorFont3;

  .caret {
    color: @colorFont3;
  }
}

//
// x) Buttons
// --------------------------------------------------
.btn {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  background-image: none;
  text-shadow: none;
  border-radius: 3px;
  outline: none !important;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
}

.input.btn {
  outline: none;
}

.btn-lg {
  padding: 16px 28px;
}

.btn-sm {
  padding: 4px 8px;
  font-size: 12px;

  i {
    font-size: 14px;
  }
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
}

.btn-default {
  background: @colorBackground2;
  color: @colorFont2 !important;

  &:hover,
  &:focus {
    background: darken(@colorBackground2, 2%);
    text-decoration: none;
    color: @colorFont2;
  }

  &:active,
  &.active {
    outline: 0;
    background: darken(@colorBackground2, 5%);
  }
}

.btn-default[disabled] {
  background: lighten(@colorBackground2, 5%);

  &:hover,
  &:focus {
    background: lighten(@colorBackground2, 5%);
  }

  &:active,
  &.active {
    background: lighten(@colorBackground2, 5%);
  }
}

.btn-primary {
  background: @colorPrimary;
  color: white !important;

  &:hover,
  &:focus {
    background: darken(@colorPrimary, 5%);
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background: darken(@colorPrimary, 5%);
  }
}

.btn-primary[disabled] {
  background: lighten(@colorPrimary, 5%);

  &:hover,
  &:focus {
    background: lighten(@colorPrimary, 5%);
  }

  &:active,
  &.active {
    background: lighten(@colorPrimary, 5%);
  }
}

.btn-info {
  background: @colorInfo;
  color: white !important;

  &:hover,
  &:focus {
    background: darken(@colorInfo, 5%) !important;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background: darken(@colorInfo, 5%);
  }
}

.btn-info[disabled] {
  background: lighten(@colorInfo, 5%);

  &:hover,
  &:focus {
    background: lighten(@colorInfo, 5%);
  }

  &:active,
  &.active {
    background: lighten(@colorInfo, 5%);
  }
}


.btn-danger {
  background: @colorDanger;
  color: white !important;

  &:hover,
  &:focus {
    background: darken(@colorDanger, 5%);
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background: darken(@colorDanger, 5%);
  }
}

.btn-danger[disabled] {
  background: lighten(@colorDanger, 5%);

  &:hover,
  &:focus {
    background: lighten(@colorDanger, 5%);
  }

  &:active,
  &.active {
    background: lighten(@colorDanger, 5%);
  }
}


.btn-success {
  background: @colorInfo;
  color: white !important;

  &:hover,
  &:focus {
    background: darken(@colorInfo, 5%);
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background: darken(@colorInfo, 5%);
  }
}

.btn-success[disabled] {
  background: lighten(@colorInfo, 5%);

  &:hover,
  &:focus {
    background: lighten(@colorInfo, 5%);
  }

  &:active,
  &.active {
    background: lighten(@colorInfo, 5%);
  }
}


.btn-warning {
  background: @colorWarning;
  color: white !important;

  &:hover,
  &:focus {
    background: darken(@colorWarning, 2%);
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background: darken(@colorWarning, 2%);
  }
}

.btn-warning[disabled] {
  background: lighten(@colorWarning, 5%);

  &:hover,
  &:focus {
    background: lighten(@colorWarning, 5%);
  }

  &:active,
  &.active {
    background: lighten(@colorWarning, 5%);
  }
}


//
// Forms
// --------------------------------------------------

.radio, .checkbox {
  margin-top: 5px !important;
  margin-bottom: 0;
}

.form-control {
  border: 2px solid @colorBackground2;
  box-shadow: none;

  &:focus {
    border: 2px solid @colorInfo;
    outline: 0;
    box-shadow: none;
  }
}

.form-control.form-search {
  border-radius: 30px;
  background-image: url('../img/icon_search16x16.png');
  background-repeat: no-repeat;
  background-position: 10px 8px;
  padding-left: 34px;
}

.form-group-search {
  position: relative;

  .form-button-search {
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 30px;
  }
}

textarea {
  resize: none;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../img/select_arrow.png') !important;
  background-repeat: no-repeat;
  background-position: right 13px;

  overflow: hidden;

}

// Placeholder text
::-webkit-input-placeholder {
  color: @colorFont4 !important;
}

::-moz-placeholder {
  color: @colorFont4 !important;
}

/* firefox 19+ */
:-ms-input-placeholder {
  color: @colorFont4 !important;
}

/* ie */
input:-moz-placeholder {
  color: @colorFont4 !important;
}

.help-block {
  color: @colorFont5 !important;
  font-size: 12px;
}

//
// x) Labels
// --------------------------------------------------

.label {
  text-transform: uppercase;
}

.label {
  text-transform: uppercase;
  display: inline-block;
  padding: 3px 5px 4px 5px;
  font-weight: 600;
  font-size: 10px !important;
  color: white !important;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: none;
}

.label-default {
  background: @colorBackground2;
  color: @colorFont2 !important;
}

a.label-default:hover {
  background: darken(@colorBackground2, 5%) !important;
}

.label-info {
  background-color: @colorInfo;
}

a.label-info:hover {
  background: darken(@colorInfo, 5%) !important;
}

.label-danger {
  background-color: @colorDanger;
}

a.label-danger:hover {
  background: darken(@colorDanger, 5%) !important;
}

.label-success {
  background-color: @colorInfo;
}

a.label-success:hover {
  background: darken(@colorInfo, 5%) !important;
}

.label-warning {
  background-color: @colorWarning;
}

a.label-warning:hover {
  background: darken(@colorWarning, 5%) !important;
}

//
// Alerts
// --------------------------------------------------

.alert-default {
  color: @colorFont3;
  background-color: @colorBackground1;
  border-color: @colorBackground2;
  font-size: 13px;

  .info {
    margin: 10px 0 10px 0;
  }
}

.alert-success {
  color: #84be5e;
  background-color: #f7fbf4;
  border-color: #97d271;
}

.alert-warning {
  color: #e9b168;
  background-color: #fffbf7;
  border-color: #fdd198;
}

.alert-danger {
  color: #ff8989;
  background-color: #fff6f6;
  border-color: #ff8989;
}

//
// Badges
// --------------------------------------------------
.badge-space {
  margin-top: 6px;
}

.badge {
  padding: 3px 5px;
  border-radius: 2px;
  font-weight: normal;
  font-family: Arial, sans-serif;
  font-size: 10px !important;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: none;
  background-color: @colorBackground3;
  line-height: 1;
}

//
// List-Group
// --------------------------------------------------

.list-group-item {
  padding: 6px 15px;
  border: none;
  border-width: 0 !important;
  border-left: 3px solid #fff !important;

  font-size: 12px;
  font-weight: 600;

  i {
    font-size: 14px;
  }
}

a.list-group-item:hover, a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  z-index: 2;
  color: @colorFont3;
  background-color: @colorBackground1;
  border-left: 3px solid @colorInfo !important;
}

//
// Modal
// --------------------------------------------------
.modal {
  border: none;

  h1, h2, h3, h4, h5 {
    margin-top: 20px;
    color: @colorFont3;
    font-weight: 300;
  }

  h4.media-heading {
    margin-top: 0;
  }
}

.modal-title {
  font-size: 20px;
  font-weight: 200;
  color: @colorFont3;
}

.modal-dialog {
  margin-top: 10%;
}

.modal-content {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  border: none;

  .modal-header {
    padding: 20px 20px 0 20px;
    border-bottom: none;
    text-align: center;

    .close {
      margin-top: 2px;
      margin-right: 5px;
    }
  }

  .modal-body {

    padding: 20px;
    font-size: 13px;

    ul.medialist {
      li > a {

      }
    }

  }

  .modal-footer {
    margin-top: 0;
    text-align: left;
    padding: 10px 20px 30px 20px;
    border-top: none;
    text-align: center;

    hr {
      margin-top: 0;
    }

  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.ekko-lightbox {
  .modal-content {
    .modal-body {
      padding: 10px;
    }

    .modal-footer {
      padding: 0 10px 10px 10px;
    }
  }
}

.ekko-lightbox-nav-overlay a, .ekko-lightbox-nav-overlay a:hover {
  color: @colorPrimary;
}

//
// Progressbar
// --------------------------------------------------
.progress {
  height: 10px;
  margin-bottom: 15px;
  box-shadow: none;
  background: @colorBackground2;
  border-radius: 10px;
}

.progress-bar-info {
  background-color: @colorInfo;
  -webkit-box-shadow: none;
  box-shadow: none;
}

//
// Tooltips
// --------------------------------------------------
.tooltip-inner {
  background-color: @colorPrimary;
  max-width: 400px;
  text-align: left;
  font-weight: 300;
  padding: 2px 8px 4px 8px;
}

.tooltip {
  &.top .tooltip-arrow {
    border-top-color: @colorPrimary;
  }
  &.top-left .tooltip-arrow {
    border-top-color: @colorPrimary;
  }
  &.top-right .tooltip-arrow {
    border-top-color: @colorPrimary;
  }
  &.right .tooltip-arrow {
    border-right-color: @colorPrimary;
  }
  &.left .tooltip-arrow {
    border-left-color: @colorPrimary;
  }
  &.bottom .tooltip-arrow {
    border-bottom-color: @colorPrimary;
  }
  &.bottom-left .tooltip-arrow {
    border-bottom-color: @colorPrimary;
  }
  &.bottom-right .tooltip-arrow {
    border-bottom-color: @colorPrimary;
  }
}

.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

//
// Tables
// --------------------------------------------------
table {

  th {
    font-size: 11px;
    color: @colorFont4;
    font-weight: normal;

  }

  thead tr th {
    border: none !important;
  }

  .time {
    font-size: 12px;
  }

  td {
    a:hover {
      color: @colorInfo;
    }
  }

}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 6px 5px 4px 5px;
}

//
// x) HumHub Components
// --------------------------------------------------

// CGridView
.grid-view .filters input, .grid-view .filters select {;
  .form-control;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
}

.grid-view {

  padding: 15px 0 0 0;

  img {
    border-radius: 3px;
  }

  table {

    th {
      font-size: 13px !important;
      font-weight: bold !important;
    }

    tr {
      font-size: 13px !important;
    }
  }

  .summary {
    //display: none;
    font-size: 12px;
    color: @colorFont1;
  }

}

.grid-view-loading {
  background: url('../img/loader.gif') no-repeat top left;
}

// User- & Space picker
.userInput, .spaceInput {
  background-color: @colorInfo;
  font-weight: 600;
}

// Wall-Entries
.wall-entry {
  position: relative;

  .media .img-space {
    position: absolute;
    top: 35px;
    left: 35px;
  }

  .wall-entry-controls, .wall-entry-controls a {
    font-size: 11px;
    color: @colorFont5;
  }
}

// Space > Admin
.space-owner {
  text-align: center;
  margin: 14px 0;
  font-size: 13px;
  color: #999;
}

// Placeholder
.placeholder {
  padding: 10px;
}

.placeholder-empty-stream {
  background-image: url('../img/placeholder-postform-arrow.png');
  background-repeat: no-repeat;
  padding: 37px 0 0 70px;
  margin-left: 90px;
}

ul.tag_input {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid @colorBackground2;
}

ul.tag_input.focus {
  border: 2px solid @colorInfo;
  outline: 0;
  box-shadow: none;
}

// Member sign for directory list
.space-member-sign {
  color: @colorInfo;
}

.file_upload_remove_link, .file_upload_remove_link:hover {
  color: @colorDanger;
}

// Contentform error
#contentFormError {
  color: @colorDanger;
}

// fileupload button
.comment_create, .content_edit {
  position: relative;

  .fileinput-button {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 6px 10px;
    background: transparent !important;

    .fa {
      color: @colorBackground3;
    }
  }

  .fileinput-button:hover .fa {
    background: transparent !important;
    color: @colorBackground4;
  }

  .fileinput-button:active {
    box-shadow: none !important;
  }
}

// Flash message after saving
.data-saved {
  padding-left: 10px;
  color: @colorInfo;
}

.wallFilterPanel {

  li {
    font-size: 11px;
    font-weight: 600;

    a {
      color: @colorFont3;
    }
  }

  .dropdown-menu {
    li {

      margin-bottom: 0;

      a {
        font-size: 12px;
      }

      a:hover {
        color: #fff !important;
      }

    }
  }

}

// TourModule

ul.tour-list {

  li {

    a {
      color: @colorInfo;
    }
  }

  li.completed {
    a {
      color: @colorFont4;
    }
  }
}

.powered, .powered a {
  color: #b8c7d3 !important;
}

//
// 7) Yii Components
// --------------------------------------------------

// Errror handling
.errorMessage {
  color: @colorDanger;
}

// Errror handling
.error {
  border-color: @colorDanger !important;
}

//
// x) Third Party Tools
// --------------------------------------------------

// Highlight
.highlight {
  background-color: #f9f0d2;
}

// atwho Plugin
.atwho-view .cur {
  border-left: 3px solid @colorInfo;
  background-color: #f7f7f7 !important;
}

.atwho-user, .atwho-space, .atwho-input a {
  color: @colorInfo;
}

.atwho-input a:hover {
  color: @colorInfo;
}

.atwho-view strong {
  background-color: #f9f0d2;
}

.atwho-view .cur strong {
  background-color: #f9f0d2;
}

// jPlayer Extension

.comment {

  .jp-progress {
    background-color: #dbdcdd !important;
  }

  .jp-play-bar {
    background: #cacaca;
  }
}

// Ajax loader
.loader {
  padding: 30px 0;

  .sk-spinner-three-bounce div {
    background-color: @colorInfo;
  }

}

.loader-modal {
  padding: 8px 0;
}

.loader-postform {
  padding: 9px 0;

  .sk-spinner-three-bounce.sk-spinner {
    text-align: left;
    margin: 0;
  }
}

//
// Animate.css modifications
// --------------------------------------------------
.modal-dialog.fadeIn, .modal-dialog.pulse {
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  animation-duration: 200ms;
}

.panel.pulse, .panel.fadeIn {
  -webkit-animation-duration: 200ms;
  -moz-animation-duration: 200ms;
  animation-duration: 200ms;
}

img.bounceIn {
  -webkit-animation-duration: 800ms;
  -moz-animation-duration: 800ms;
  animation-duration: 800ms;
}

.outside {

  .text {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 15px;

    a {
      color: #ffffff;
      text-decoration: underline;
    }

  }

  .panel a {
    color: @colorInfo;
  }

  h1, h2 {
    color: #ffffff !important;
  }

  .panel {
    box-shadow: 0px 0px 15px #627d92;
    -moz-box-shadow: 0px 0px 15px #627d92;
    -webkit-box-shadow: 0px 0px 15px #627d92;

    .panel-heading, .panel-body {
      padding: 15px;
    }

  }

}

// Markdown overrides
.markdown-render {

  a, a:visited {
    color: @colorInfo !important;
  }

}
