<phpunit bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Core">
            <directory>./</directory>
        </testsuite>
        <testsuite name="ModulesCore">
            <directory>../modules_core/*/tests</directory>
        </testsuite>
    </testsuites>
    
    <selenium>
            <browser name="Internet Explorer" browser="*iexplore" />
            <browser name="Firefox" browser="*firefox" />
    </selenium>
</phpunit>