.media-list li.new {
    background-color: #e9f9ff;
}

#dropdown-messages {
    width: 350px;
    margin-left: -148px;
}

@media (max-width: 767px) {

    #dropdown-messages {
        width: 300px !important;
        margin-left: -41px !important;
    }
}

#create-message-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
}

.placeholder {
    color: #77777A;
}