.task {
    /*    background-color: #fcf8e3;
        border-color: #faebcc;*/
    border: 1px solid #dadada;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 2%, #f9f9f9 47%, #f7f7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #fcfcfc), color-stop(47%, #f9f9f9), color-stop(100%, #f7f7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcfc 2%, #f9f9f9 47%, #f7f7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfcfc 2%, #f9f9f9 47%, #f7f7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfcfc 2%, #f9f9f9 47%, #f7f7f7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fcfcfc 2%, #f9f9f9 47%, #f7f7f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f7f7f7', GradientType=0); /* IE6-9 */
    box-shadow: 0 1px 1px #EDEDED;

}

.task h5 {
    margin: 5px 0 0 0;
    line-height: 22px;

}

.task a {
    color: #3b4854 !important;
}