body {

}

textarea {
    width: 400px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    white-space: pre-wrap;
    height: auto;
}

.mention-container {
    position: relative;
}

.mention-html-content {
    display: none;
}

.mention-overlay {
    /*opacity: 0.5;*/
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.mention-overlay span {
    background-color: #dae4f7;
/*    border: 2px solid blue;
    border-radius: 2px;*/
    color: #dae4f7;
    padding: 0px 0 2px 0;
/*    border: 1px solid #a4bbec;
    border-radius: 3px;

    background: #dae4f7; *//* Old browsers *//*
    *//* IE9 SVG, needs conditional override of 'filter' to 'none' *//*
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RhZTRmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZWNmZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #dae4f7 0%, #becff3 100%); *//* FF3.6+ *//*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dae4f7), color-stop(100%,#becff3)); *//* Chrome,Safari4+ *//*
    background: -webkit-linear-gradient(top,  #dae4f7 0%,#becff3 100%); *//* Chrome10+,Safari5.1+ *//*
    background: -o-linear-gradient(top,  #dae4f7 0%,#becff3 100%); *//* Opera 11.10+ *//*
    background: -ms-linear-gradient(top,  #dae4f7 0%,#becff3 100%); *//* IE10+ *//*
    background: linear-gradient(to bottom,  #dae4f7 0%,#becff3 100%); *//* W3C *//*
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae4f7', endColorstr='#becff3',GradientType=0 ); *//* IE6-8 */

    /*border: 1px solid #d6e1e9;*/
    border-radius: 3px;
    background-color: #d6e1e9;

}

.mention-userlist {
    display: none;
    position: fixed;
}