//
// List-Group
// --------------------------------------------------
.list-group-item {
  position: relative;
  padding: 10px 14px;
  border: none;
  border-width: 0 !important;
  border-left: 5px solid #fff !important;
  font-size: 13px;
  font-weight: 600;
  i {
    font-size: 16px;
  }

}

a.list-group-item:hover,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {

  position: relative;

  z-index: 2;
  color: @list-group-color-text;
  background-color: @list-group-color-background;
  border-left: 5px solid @list-group-color-border-left !important;
}
