/**
 * Define your mixins within this file.
**/

//
// Override bootstrap grid
// --------------------------------------------------
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1333px) {
  .container {
    width: 1300px;
  }
}

@media (min-width: 1666px) {
  .container {
    width: 1640px;
  }
}


//
// Thumbnails
// --------------------------------------------------
.img-rounded {
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
}

.img-rounded-logo {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.label-danger {
  background-color: @topbar-color-label-danger;
}