//
// Badges
// --------------------------------------------------
.badge-space {
    margin-top: 6px;
}

.badge-space-chooser {
    padding: 3px 5px;
    margin-left: 1px;
}

.badge {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 2px;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size: 10px !important;
    text-transform: uppercase;
    color: var(--hh-text-color-contrast);
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: none;
    background-color: var(--hh-background3);
    line-height: 1;

    &.text-bg-info,
    &.text-bg-danger {
        color: var(--hh-text-color-contrast) !important;
    }
}

.badge-new {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--bs-info);
}
