//
// Buttons
// --------------------------------------------------

// Bootstrap overwrite
// See all available Bootstrap CSS variables: @humhub/protected/vendor/npm-asset/bootstrap/dist/css/bootstrap.css

.btn {
    --bs-btn-padding-x: 1.1rem;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-font-weight: 600;
    --bs-btn-border-radius: 3px;

    white-space: nowrap;

    &:not(.btn-icon-only) {
        i.fa {
            margin-right: 0.6rem;
        }
    }

    &.input {
        outline: none;
    }
}

.btn-sm, .btn-group-sm > .btn {
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.2rem;

    &:not(.btn-icon-only) {
        i.fa {
            margin-right: 0.4rem;
        }
    }
}

.btn-lg, .btn-group-lg > .btn {
    --bs-btn-padding-x: 1.75rem;
    --bs-btn-padding-y: 0.9rem;
    --bs-btn-font-size: 1.1rem;

    &:not(.btn-icon-only) {
        i.fa {
            margin-right: 0.8rem;
        }
    }
}

.btn-group > .btn {
    --bs-btn-padding-x: 0.8rem;
}

.btn-group-sm > .btn {
    --bs-btn-padding-x: 0.4rem;
}

.btn-group-lg > .btn {
    --bs-btn-padding-x: 1.2rem;
}
