//
// Input Group
// --------------------------------------------------

@if not $prev-input-group {
    .input-group .btn {
        border: none;
        box-shadow: none;
    }

    .input-group-text {
        border: none;
        background-color: var(--hh-background-color-page);
    }

    .input-color-group {
        flex-wrap: nowrap;

        > div > label {
            display: none;
        }

        input {
            height: 36px;
        }

        div:first-child input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        div:last-child {
            flex-grow: 1;

            input {
                margin-left: calc(-1 * var(--bs-border-width));
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        input:focus {
            position: relative;
            z-index: 1;
        }
    }
}
