//
// Installer
// --------------------------------------------------

@if not $prev-installer {
    .installer {
        .logo {
            text-align: center;
        }

        h2 {
            font-weight: 100;
        }

        .panel {
            margin-top: 50px;

            h3 {
                margin-top: 0;
            }
        }

        .powered,
        .powered a {
            color: var(--hh-text-color-soft3) !important;
            margin-top: 10px;
            font-size: 12px;
        }

        .fa {
            width: 18px;
        }

        .check-ok {
            color: var(--bs-success);
        }

        .check-warning {
            color: var(--bs-warning);
        }

        .check-error {
            color: var(--bs-danger);
        }

        .prerequisites-list {
            ul {
                list-style: none;
                padding-left: 15px;

                li {
                    padding-bottom: 5px;
                }
            }
        }
    }
}
