//
// List
// --------------------------------------------------

.hh-list {

    &.dropdown-item:hover {
        background-color: inherit;
        color: inherit;
    }

    > div, > a {
        padding: 10px;
        border-bottom: 1px solid #eee;
        position: relative;
        border-left: 3px solid white;

        &:hover,
        &.selected {
            background-color: var(--hh-background-color-secondary);
            border-left: 3px solid var(--bs-info);
        }

        &a, a {
            color: var(--hh-text-color-main);
        }

        &.new {
            border-left: 3px solid var(--bs-info);
            background-color: var(--hh-background-color-highlight);

            &:hover {
                background-color: var(--hh-background-color-highlight-soft);
            }
        }

        &.placeholder {
            font-size: 14px !important;
            border-bottom: none;
        }

        &.placeholder:hover {
            background: none !important;
            border-left: 3px solid white;
        }

        // TODO: move to Enterprise Theme module
        .badge-space-type {
            background-color: var(--hh-background-color-secondary);
            border: 1px solid var(--hh-background3);
            color: var(--hh-background4);
            padding: 3px 3px 2px 3px;
        }

        .flex-grow-1 {
            font-size: 13px;
            white-space: normal;
            @include text-break();
        }

        h4 {
            font-size: 14px;
            font-weight: 500;
            color: var(--hh-text-color-highlight);

            a {
                color: var(--hh-text-color-highlight);
            }

            small,
            small a {
                font-size: 11px;
                color: var(--hh-text-color-soft);
            }

            .content {
                margin-right: 35px;
            }
        }

        h5 {
            color: var(--hh-text-color-soft2);
            font-weight: 300;
            margin-top: 5px;
            margin-bottom: 5px;
            min-height: 15px;
        }

        .content a {
            word-break: break-all;
            color: var(--bs-link-color);
        }

        strong {
            color: var(--hh-text-color-highlight);
        }

        .time {
            font-size: 11px;
            color: var(--hh-text-color-soft);
        }

        .module-controls {
            font-size: 85%;

            a {
                color: var(--bs-link-color);
            }
        }

        .content .files a {
            color: var(--hh-text-color-highlight);
        }
    }
}
