//
// Theme color classes
// (Add this classes to the html elements from your
// modules to adopt the colors from currently
// activated theme)
// --------------------------------------------------

/* Default */
@mixin colorDefault {
    color: var(--bs-light);
}

@mixin backgroundDefault {
    background: var(--bs-light);
}

@mixin borderDefault {
    border-color: var(--bs-light);
}

/* Primary */
@mixin colorPrimary {
    color: var(--bs-primary) !important;
}

@mixin backgroundPrimary {
    background: var(--bs-primary) !important;
}

@mixin borderPrimary {
    border-color: var(--bs-primary) !important;
}

/* Info */
@mixin colorInfo {
    color: var(--bs-info) !important;
}

@mixin backgroundInfo {
    background: var(--bs-info) !important;
}

@mixin borderInfo {
    border-color: var(--bs-info) !important;
}

/* Link */
@mixin colorLink {
    color: var(--bs-link-color) !important;
}

/* Success */
@mixin colorSuccess {
    color: var(--bs-success) !important;
}

@mixin backgroundSuccess {
    background: var(--bs-success) !important;
}

@mixin borderSuccess {
    border-color: var(--bs-success) !important;
}

/* Warning */
@mixin colorWarning {
    color: var(--bs-warning) !important;
}

@mixin backgroundWarning {
    background: var(--bs-warning) !important;
}

@mixin borderWarning {
    border-color: var(--bs-warning) !important;
}

/* Danger */
@mixin colorDanger {
    color: var(--bs-danger) !important;
}

@mixin backgroundDanger {
    background: var(--bs-danger) !important;
}

@mixin borderDanger {
    border-color: var(--bs-danger) !important;
}

/* Fonts */
@mixin colorFont1 {
    color: var(--hh-text-color-soft3) !important;
}

@mixin colorFont2 {
    color: var(--hh-text-color-secondary) !important;
}

@mixin colorFont3 {
    color: var(--hh-text-color-highlight) !important;
}

@mixin colorFont4 {
    color: var(--hh-text-color-soft) !important;
}

@mixin colorFont5 {
    color: var(--hh-text-color-soft2) !important;
}

@mixin heading {
    font-size: 16px;
    font-weight: 300;
    color: var(--hh-text-color-highlight);
    background-color: white;
    border: none;
    padding: 10px;
}

@mixin text-center {
    text-align: center !important;
}

@mixin text-break {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

//
// Thumbnails
// --------------------------------------------------
@mixin rounded {
    border-radius: 3px;
}
