//
// Pagination
// --------------------------------------------------
.pagination-container {
    text-align: center;
}

.pagination > li:not(.active) {
    > a,
    > a:hover,
    > a:focus {
        color: var(--hh-text-color-highlight);
        background-color: var(--hh-background-color-main);
    }
}
