//
// Sidebar
// --------------------------------------------------

@if not $prev-sidebar {
    @include media-breakpoint-down(lg) {
        .layout-sidebar-container {
            display: none;
        }
    }
}
