//
// Stream (wall)
// --------------------------------------------------

@if not $prev-stream {
    // Content create form
    .contentForm_options {
        margin-top: 10px;
        min-height: 29px;

        .btn_container {
            position: relative;

            .badge-container {
                position: absolute;
                right: 50px;
                top: 6px;
            }
        }
    }

    #content-topic-bar {
        margin-top: 5px;
        text-align: right;

        .badge {
            margin-left: 4px;
        }
    }

    .content-form-body {
        .mb-3, .invalid-feedback {
            margin: 0 !important;
        }

        .contentForm_options {
            .mb-3 {
                margin-bottom: 15px !important;

                .checkbox label {
                    padding-left: 22px;

                    input[type=checkbox] {
                        position: absolute;
                        top: 4px;
                        left: 0;

                        &:focus {
                            border-color: var(--hh-background3) !important;

                            &:checked {
                                border-color: var(--bs-accent) !important;
                            }
                        }
                    }
                }
            }
        }
    }

    // Empty stream info
    .placeholder-empty-stream {
        background-image: url("../img/placeholder-postform-arrow.png");
        background-repeat: no-repeat;
        padding: 37px 0 0 70px;
        margin-left: 90px;
    }

    #streamUpdateBadge {
        text-align: center;
        z-index: 9999;
        margin-bottom: 15px;
        margin-top: 15px;

        .badge {
            border-radius: 10px;
            font-size: 0.8em !important;
            padding: 5px 10px;
        }
    }

    #wallStream {
        .back_button_holder {
            padding-bottom: 15px;
        }
    }

    $wallEntryInnerPadding: 10px;
    $wallEntryContentLeftPadding: 50px;
    $wallEntryContentLeftPaddingMobile: 0;

    // Wall-Entries
    .wall-entry {
        position: relative;

        .panel .panel-body {
            padding: $wallEntryInnerPadding;
        }

        .wall-entry-header {

            color: var(--hh-text-color-highlight);
            position: relative;
            padding-bottom: $wallEntryInnerPadding;
            margin-bottom: $wallEntryInnerPadding;
            border-bottom: 1px solid var(--hh-background-color-page);

            .img-space {
                top: 25px;
                left: 25px;
            }

            .stream-entry-icon-list {
                position: absolute;
                top: 0;
                right: 25px;
                display: inline-block;
                padding-top: 2px;

                i {
                    padding-right: 5px;
                }

                .icon-pin {
                    color: var(--bs-danger);
                }

                .fa-archive {
                    color: var(--bs-warning);
                }
            }

            .wall-entry-header-image {
                padding-right: $wallEntryInnerPadding;

                .fa {
                    font-size: 2.39em;
                    color: var(--bs-accent);
                    margin-top: 5px;
                }
            }

            .wall-entry-header-info {
                display: table-cell;
                padding-right: 30px;
                width: 100%;

                h4 {
                    font-size: 15px;
                    padding-top: 1px;
                    margin-bottom: 3px;
                }

                h5 {
                    font-size: 12px;
                }

                i.archived {
                    color: var(--bs-warning);
                }
            }

            .preferences {
                position: absolute;
                right: 0;
                top: 0;
            }

            h4, h5 {
                i.fa-caret-right {
                    margin: 0 2px;
                }

                .wall-entry-icons {
                    display: inline-block;

                    i {
                        margin-right: 2px;
                    }
                }

                .time, i, span {
                    font-size: 11px;
                    white-space: nowrap;
                }
            }
        }

        .wall-entry-body {
            padding-left: $wallEntryContentLeftPadding;
            padding-right: $wallEntryContentLeftPadding;

            .wall-entry-content {
                margin-bottom: 5px;

                .post-short-text {
                    font-size: 1.6em;

                    .emoji {
                        width: 20px;
                    }
                }
            }

            audio, video {
                width: 100%;
            }
        }

        .wall-stream-footer {
            .wall-stream-addons {
                .files {
                    margin-bottom: 5px;
                }
            }
        }

        .content {
            img {
                max-width: 100%;
            }
        }

        .well {
            margin-bottom: 0;

            .comment {
                .showMore a {
                    font-size: 12px;
                }
            }
        }

        h4 {
            font-size: 14px;
            padding-top: 1px;
            margin-bottom: 3px;

            small {
                font-weight: 400;
                font-size: 11px;
            }

            .labels {
                padding-right: 32px;
            }

            .viaLink {
                font-size: 13px;

                i {
                    color: var(--hh-text-color-soft);
                    padding-left: 4px;
                    padding-right: 4px;
                }
            }

        }

        h5 {
            color: var(--hh-text-color-soft);
            font-size: 12px;

            a .time {
                color: var(--hh-text-color-soft);
                font-size: 12px;
                white-space: nowrap;
            }
        }

        [data-ui-richtext] {
            h1 {
                font-size: 1.45em;
                font-weight: normal;
            }

            h2 {
                font-size: 1.3em;
                font-weight: normal;
            }

            h3 {
                font-size: 1.2em;
                font-weight: normal;
            }

            h4 {
                font-size: 1.1em;
                font-weight: normal;
            }

            h5 {
                font-size: 1.0em;
                font-weight: normal;
            }

            h6 {
                font-size: .85em;
                font-weight: normal;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .wall-entry .wall-entry-body {
            padding-left: $wallEntryContentLeftPaddingMobile;
            padding-right: $wallEntryContentLeftPaddingMobile;
        }

        #wallStream {
            .back_button_holder {
                padding-bottom: 5px;
                text-align: center;
            }
        }
    }

    .wall-entry-controls a {
        font-size: 11px;
        margin-top: 10px;
        margin-bottom: 0;
        color: var(--hh-text-color-soft);
        transition: color 0.3s;
    }

    #wall-stream-filter-nav {
        font-size: 12px;
        margin-bottom: 10px;
        padding-top: 2px;
        border-radius: 0 0 4px 4px;

        .wall-stream-filter-root {
            margin: 0;
            border: 0 !important;
        }

        .filter-panel {
            padding: 0 10px;
        }

        .wall-stream-filter-head {
            padding: 5px 5px 10px 5px;
            border-bottom: 1px solid var(--hh-background3);
        }

        .wall-stream-filter-body {
            overflow: hidden;
            background-color: var(--hh-background-color-secondary);
            border: 1px solid var(--hh-background3);
            border-top: 0;
            border-radius: 0 0 4px 4px;
        }

        hr {
            margin: 5px 0 0 0;
        }

        .topic-remove-label {
            float: left;
        }

        .topic-remove-label, .content-type-remove-label {
            margin-right: 6px;
        }

        .select2 {
            width: 260px !important;
            margin-bottom: 5px;
            margin-top: 2px;

            .select2-search__field {
                height: 25px !important;
            }

            .select2-selection__choice {
                height: 23px !important;

                span, i {
                    line-height: 19px !important;
                }

                .rounded {
                    width: 18px !important;
                    height: 18px !important;
                }
            }
        }

        .wall-stream-filter-bar {
            display: inline;
            float: right;
            white-space: normal;

            .badge {
                height: 18px;
                padding-top: 4px;
                background-color: var(--hh-background-color-main);
            }

            .btn, .badge {
                box-shadow: 0 0 2px var(--hh-text-color-secondary);
            }
        }
    }

    @include media-breakpoint-down(md) {
        #wall-stream-filter-nav {
            .wall-stream-filter-root {
                white-space: nowrap;
            }

            .wall-stream-filter-body {
                overflow: auto;
            }

            margin-bottom: 5px;
        }
    }

    .filter-root {
        margin: 15px;

        .row {
            display: table !important;
        }

        .filter-panel {
            padding: 0 5px;
            display: table-cell !important;
            float: none;

            .filter-block {
                strong {
                    margin-bottom: 5px;
                }

                ul.filter-list {
                    list-style: none;
                    padding: 0;
                    margin: 0 0 5px;

                    li {
                        font-size: 12px;
                        padding: 2px;
                    }
                }
            }

            div.filter-block:last-of-type {
                ul.filter-list {
                    margin: 0;
                }
            }
        }

        .filter-panel + .filter-panel {
            border-left: 2px solid var(--hh-background-color-page);
        }
    }


    .stream-entry-loader {
        float: right;
        margin-top: 5px;
    }

    .load-suppressed {
        margin-top: -17px;
        margin-bottom: 15px;
        text-align: center;

        a {
            display: inline-block;
            background-color: var(--hh-background-color-main);
            padding: 5px;
            border-radius: 0 0 4px 4px;
            border: 1px solid var(--hh-background3);
            font-size: 11px
        }
    }

    @media print {
        .wall-entry {
            page-break-inside: avoid;
        }

        #wall-stream-filter-nav,
        #contentFormBody {
            display: none;
        }
    }
}
