// Import Bootstrap SCSS variables
@import "../../protected/vendor/bower-asset/bootstrap/scss/_functions.scss";
@import "../../protected/vendor/bower-asset/bootstrap/scss/_variables.scss";

//
// Colors for buttons status etc.
// --------------------------------------------------

$primary: #435f6f;
$secondary: #7a7a7a;
$info: #21A1B3;
$success: #97d271;
$warning: #FFC107;
$danger: #FC4A64;
$light: #e7e7e7;
$dark: #333;
$link: $info;
$isFluid: false;

$default: #e7e7e7; // @deprecated since 1.18


//
// Text colors
// --------------------------------------------------

// Default body text color.
$text-color-main: #555;

// used for default icons and buttons etc.
$text-color-default: #4b4b4b;

// used for some icons and buttons etc. - former $font2
$text-color-secondary: #7a7a7a;

// highlighted text like some active links hovered links etc. - former $font3
$text-color-highlight: #000;

// side information like dates, placeholder, some dropdown headers - former $font4
$text-color-soft: #555555;

// also side information wall entry links (like/comment), help blocks in forms etc.  - former $font5
$text-color-soft2: #aeaeae;

// used in gridview summary and installer - former $font1
$text-color-soft3: #bac2c7;

// used as contrast color for $primary, $info, $success, $warning, $danger backgrounds for buttons etc.
// Note that $default does not use a contrast color $default is normally combined with $text-color-secondary
$text-color-contrast: #fff;


//
// Background colors
// --------------------------------------------------

// main content background color should be in contrast with $text-color-main, $text-color-secondary and other text colors
$background-color-main: #fff;

// used beside others for tabs - former $background1
$background-color-secondary: #f9f9f9;

// page background which is also used for other ui components as comment box etc. - former $background2
$background-color-page: #ededed;

// Informative highlighting color
// (e.g. Comment Permalink, Shared Item, Calendar CurDay, Wiki Active Page Nav, Mail Module Speech Bubble)
$background-color-highlight: fade($info, 20%);

// Informative highlighting soft color
// (e.g. Wiki Active Category)
$background-color-highlight-soft: lighten(desaturate(adjust-hue($info, 6), 16), 55);

// Additional background colors
$background3: #d7d7d7;
$background4: #b2b2b2;


//
// Fonts
// --------------------------------------------------

// Body fonts
// $since 1.18
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.5;

// Mail Fonts
$mail-font-family: 'Open Sans', Arial, Tahoma, Helvetica, sans-serif;


//
// Bootstrap Alert boxes
// --------------------------------------------------

// Alert box success (used in forms)
$background-color-success: #f7fbf4;
$text-color-success: #84be5e;
$border-color-success: #97d271;

// Alert box warning (used in forms)
$background-color-warning: #fffbf7;
$text-color-warning: #e9b168;
$border-color-warning: #fdd198;

// Alert box danger (used in forms)
$background-color-danger: #fff6f6;
$text-color-danger: #ff8989;
$border-color-danger: #ff8989;


//
// Bootstrap Form Input
// --------------------------------------------------

$input-border-color: $gray-200;


//
// Fonts
// --------------------------------------------------

// Body fonts
// $since 1.18
$body-font-size: 14px;
$body-font-weight: 400;
$body-line-height: 1.5;

// Mail Fonts
$mail-font-family: 'Open Sans', Arial, Tahoma, Helvetica, sans-serif;


//
// CSS Variables
// $since 1.14.0
// --------------------------------------------------

@function hex-to-rgb($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    // Bootstrap overwrite
    // See all available Bootstrap CSS variables: @humhub/protected/vendor/bower-asset/bootstrap/dist/css/bootstrap.css
    --bs-primary: #{$primary};
    --bs-secondary: #{$secondary};
    --bs-success: #{$success};
    --bs-info: #{$info};
    --bs-warning: #{$warning};
    --bs-danger: #{$danger};
    --bs-light: #{$light};
    --bs-dark: #{$dark};
    --bs-primary-rgb: #{hex-to-rgb($primary)};
    --bs-secondary-rgb: #{hex-to-rgb($secondary)};
    --bs-success-rgb: #{hex-to-rgb($success)};
    --bs-info-rgb: #{hex-to-rgb($info)};
    --bs-warning-rgb: #{hex-to-rgb($warning)};
    --bs-danger-rgb: #{hex-to-rgb($danger)};
    --bs-light-rgb: #{hex-to-rgb($light)};
    --bs-dark-rgb: #{hex-to-rgb($dark)};
    --bs-body-color-rgb: #{hex-to-rgb($text-color-main)};
    --bs-body-bg-rgb: #{hex-to-rgb($background-color-page)};
    --bs-font-sans-serif: 'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: #{$body-font-size};
    --bs-body-font-weight: #{$body-font-weight};
    --bs-body-line-height: #{$body-line-height};
    --bs-body-color: #{$text-color-main};
    --bs-body-bg: #{$background-color-page};
    --bs-link-color: #{$link};
    --bs-link-hover-color: #{darken($link, 10%)};
    --bs-code-color: #{darken($info, 10%)};

    // Text colors
    --hh-text-color-main: #{$text-color-main};
    --hh-text-color-default: #{$text-color-default};
    --hh-text-color-secondary: #{$text-color-secondary};
    --hh-text-color-highlight: #{$text-color-highlight};
    --hh-text-color-soft: #{$text-color-soft};
    --hh-text-color-soft2: #{$text-color-soft2};
    --hh-text-color-soft3: #{$text-color-soft3};
    --hh-text-color-contrast: #{$text-color-contrast};

    // Background colors
    --hh-background-color-main: #{$background-color-main};
    --hh-background-color-secondary: #{$background-color-secondary};
    --hh-background-color-page: #{$background-color-page};
    --hh-background-color-highlight: #{$background-color-highlight};
    --hh-background-color-highlight-soft: #{$background-color-highlight-soft};
    --hh-background3: #{$background3};
    --hh-background4: #{$background4};

    // Bootstrap Alert boxes
    // Success
    --hh-background-color-success: #{$background-color-success};
    --hh-text-color-success: #{$text-color-success};
    --hh-border-color-success: #{$border-color-success};
    // Warning
    --hh-background-color-warning: #{$background-color-warning};
    --hh-text-color-warning: #{$text-color-warning};
    --hh-border-color-warning: #{$border-color-warning};
    // Danger
    --hh-background-color-danger: #{$background-color-danger};
    --hh-text-color-danger: #{$text-color-danger};
    --hh-border-color-danger: #{$border-color-danger};

    // Fonts
    --hh-mail-font-family: #{$mail-font-family};

    // Dimensions
    --hh-fixed-header-height: 130px;
    --hh-fixed-footer-height: 0px; // Force keeping `px` after CSS compilation (required for `calc()` function)


    // @deprecated since 1.18, use the above variable instead
    --default: #{$default};
    --primary: var(--bs-primary);
    --info: var(--bs-info);
    --success: var(--bs-success);
    --warning: var(--bs-warning);
    --danger: var(--bs-danger);
    --link: var(--bs-link-color);
    --text-color-main: #{$text-color-main};
    --text-color-default: #{$text-color-default};
    --text-color-secondary: #{$text-color-secondary};
    --text-color-highlight: #{$text-color-highlight};
    --text-color-soft: #{$text-color-soft};
    --text-color-soft2: #{$text-color-soft2};
    --text-color-soft3: #{$text-color-soft3};
    --text-color-contrast: #{$text-color-contrast};
    --background-color-main: #{$background-color-main};
    --background-color-secondary: #{$background-color-secondary};
    --background-color-page: #{$background-color-page};
    --background-color-highlight: #{$background-color-highlight};
    --background-color-highlight-soft: #{$background-color-highlight-soft};
    --background3: #{$background3};
    --background4: #{$background4};
    --background-color-success: #{$background-color-success};
    --text-color-success: #{$text-color-success};
    --border-color-success: #{$border-color-success};
    --background-color-warning: #{$background-color-warning};
    --text-color-warning: #{$text-color-warning};
    --border-color-warning: #{$border-color-warning};
    --background-color-danger: #{$background-color-danger};
    --text-color-danger: #{$text-color-danger};
    --border-color-danger: #{$border-color-danger};
    --mail-font-family: #{$mail-font-family};
}
