// Re-assigned functions

// Original Ascending function
// Used to evaluate Sass maps like our grid breakpoints.
@mixin _assert-ascending-original($map, $map-name) {
    $prev-key: null;
    $prev-num: null;
    @each $key, $num in $map {
        @if $prev-num == null or unit($num) == "%" or unit($prev-num) == "%" {
            // Do nothing
        } @else if not comparable($prev-num, $num) {
            @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
        } @else if $prev-num >= $num {
            @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
        }
        $prev-key: $key;
        $prev-num: $num;
    }
}

// Disabled for $container-max-widths
@mixin _assert-ascending($map, $map-name) {
    @if $map-name == "$container-max-widths" {
        // Skip validation
    } @else {
        @include _assert-ascending-original($map, $map-name);
    }
}
