// Import base components. Components can be deactivated by $prev-* variables.
@import "base.scss";
@import "topbar";
@import "login";
@import "dropdown.scss";
@import "media";
@import "panel";
@import "installer";
@import "pagination";
@import "well";
@import "nav";
@import "button.scss";
@import "form.scss";
@import "notification";
@import "badge.scss";
@import "popover";
@import "profile";
@import "list-group";
@import "modal";
@import "tooltip";
@import "progress";
@import "table";
@import "comment.scss";
@import "gridview.scss";
@import "oembed";
@import "activities.scss";
@import "stream";
@import "space";
@import "file.scss";
@import "tour";
@import "mentioning";
@import "loader";
@import "markdown";
@import "sidebar";
@import "datepicker.scss";
@import "user-feedback";
@import "tags";
@import "richtext";
@import "mobile";
@import "icon";
@import "print";
@import "cards.scss";
@import "modules";
@import "../css/select2Theme/build.scss";

// LEGACY/DEPRECATED User- & Space picker
ul.tag_input {
    list-style: none;
    background-color: $background-color-main;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    padding: 0 0 9px 4px;

    li img {
        margin: 0 5px 0 0;
    }
}

.tag_input_field {
    outline: none;
    border: none !important;
    padding: 5px 4px 0 !important;
    width: 170px;
    margin: 2px 0 0 !important;
}

.userInput,
.spaceInput {
    background-color: $info;
    font-weight: 600;
    color: $text-color-contrast;
    border-radius: 3px;
    font-size: 12px !important;
    padding: 2px;
    float: left;
    margin: 3px 4px 0 0;
}

.userInput i,
.spaceInput i {
    padding: 0 6px;
    font-size: 14px;
    cursor: pointer;
    line-height: 8px;
}
