.icon-sm, .fa-sm {
    font-size: .875em;
}

.icon-lg, .fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em;
}

.icon-2x, .fa-2x {
    font-size: 2em;
}

.icon-3x, .fa-3x {
    font-size: 3em;
}

.icon-4x, .fa-4x {
    font-size: 4em;
}

.icon-5x, .fa-5x {
    font-size: 5em;
}

.icon-6x, .fa-6x {
    font-size: 6em;
}

.icon-7x, .fa-7x {
    font-size: 7em;
}

.icon-9x, .fa-9x {
    font-size: 9em;
}

.icon-10x, .fa-10x {
    font-size: 10em;
}
