@media print {
    a[href]:after {
        content: none;
    }

    body {
        padding-top: 0;
    }

    pre, blockquote {
        page-break-inside: avoid;
    }

    .preferences,
    .layout-sidebar-container,
    .layout-nav-container,
    button {
        display: none !important;
    }
}
