$isFluid: false;

//
// Colors for buttons status etc.
// --------------------------------------------------

$primary: #435f6f;
$secondary: #7a7a7a;
$info: #21A1B3;
$success: #97d271;
$warning: #FFC107;
$danger: #FC4A64;
$light: #e7e7e7;
$dark: #333;

$link-color: $info;
$link-hover-color: darken($link-color, 10%);
$code-color: darken($info, 10%);
$body-color: #555;
$body-bg: #ededed;

$default: #e7e7e7; // @deprecated since 1.18
$link: $link-color; // @deprecated since 1.18

//
// Text colors
// --------------------------------------------------

// Default body text color.
$text-color-main: $body-color;

// used for default icons and buttons etc.
$text-color-default: #4b4b4b;

// used for some icons and buttons etc. - former $font2
$text-color-secondary: #7a7a7a;

// highlighted text like some active links hovered links etc. - former $font3
$text-color-highlight: #000;

// side information like dates, placeholder, some dropdown headers - former $font4
$text-color-soft: #555555;

// also side information wall entry links (like/comment), help blocks in forms etc.  - former $font5
$text-color-soft2: #aeaeae;

// used in gridview summary and installer - former $font1
$text-color-soft3: #bac2c7;

// used as contrast color for $primary, $info, $success, $warning, $danger backgrounds for buttons etc.
// Note that $default does not use a contrast color $default is normally combined with $text-color-secondary
$text-color-contrast: #fff;


//
// Background colors
// --------------------------------------------------

// main content background color should be in contrast with $text-color-main, $text-color-secondary and other text colors
$background-color-main: #fff;

// used beside others for tabs - former $background1
$background-color-secondary: #f9f9f9;

// page background which is also used for other ui components as comment box etc. - former $background2
$background-color-page: $body-bg;

// Informative highlighting color
// (e.g. Comment Permalink, Shared Item, Calendar CurDay, Wiki Active Page Nav, Mail Module Speech Bubble)
$background-color-highlight: rgba($info, 0.2);

// Informative highlighting soft color
// (e.g. Wiki Active Category)
$background-color-highlight-soft: lighten(desaturate(adjust-hue($info, 6), 16), 55);

// Additional background colors
$background3: #d7d7d7;
$background4: #b2b2b2;


//
// Bootstrap Alert boxes
// --------------------------------------------------

// Alert box success (used in forms)
$background-color-success: #f7fbf4;
$text-color-success: #84be5e;
$border-color-success: #97d271;

// Alert box warning (used in forms)
$background-color-warning: #fffbf7;
$text-color-warning: #e9b168;
$border-color-warning: #fdd198;

// Alert box danger (used in forms)
$background-color-danger: #fff6f6;
$text-color-danger: #ff8989;
$border-color-danger: #ff8989;


//
// Fonts
// --------------------------------------------------

$font-family-base: 'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif: $font-family-base;
$font-size-root: 14px; // affects the value of `rem`, which is used for as well font sizes, paddings, and margins
$font-weight-base: 400;
$mail-font-family: 'Open Sans', Arial, Tahoma, Helvetica, sans-serif;


//
// Other Bootstrap overwritten variables
// --------------------------------------------------

$line-height-base: 1.5;
$input-border-color: #e9ecef;
