// Mobile Styles & Media Queries
// from bootstrap

/* Large desktop */
@media (min-width: 1200px) {
  body {
    padding-top: 100px; // double header
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 100px; // double header\
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding-top: 100px;
    overflow-x: hidden;
  }

  .container{
    padding: 0;
  }
  .topbar{
    padding: 0;
  }
  .offcanvas-menu{ max-width: 320px; }
  .profile-layout-container{
    margin: auto auto;
    padding: 0;
    width: 100%;

    .row{
      margin-right: 0;
      margin-left: 0;
    }

  }


  .image-upload-container{
    width: 100%;
  }

  .profile-interests{
    h3{
      margin-left: 15px;
    }

    > div{ margin-left: 15px;}
    p{
      padding: 0;
      line-height: 32px;
      margin: 0;
      &::before{
        content: '\00BB';
        color: @gold;
        font-size: 32px;
        font-weight: bolder;
      }

      

      a{
        margin-top: 0;
        line-height: 32px;
      }
    }
  }

  .user-profile-activities{
    padding-left: 15px;
    max-width: 320px;
  }
} 

/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    padding-top: 100px;
  }
}