// Mobile Styles & Media Queries

/* Large desktop */
@media (min-width: 1200px) {
  body {
    padding-top: 100px; // double header
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 100px; // double header\
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding-top: 100px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    padding-top: 100px;
  }
}